page-workouts {
  ion-list {
    margin-bottom: 64px !important;
  }
  .workoutButton {
    margin-top: 32px;
    text-align: center;
  }
  .ios-pad {
    padding-top: 10px;
  }

  $SIDEMENU_TOP: #A23C4B;
  $SIDEMENU_BOTTOM: #ff9068;
  $SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);


  .side-menu-gradient{
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  }
}
