<ion-header>
    <ion-navbar padding color="primary">
        <ion-title>
            <!--<img src="assets/liftTracker.png">-->
            Lift Tracker
        </ion-title>

        <!--<ion-buttons end>-->
            <!--<button color="light"ion-button icon-only (click)="createWorkout()">-->
                <!--<ion-icon name="add"></ion-icon>-->
            <!--</button>-->
        <!--</ion-buttons>-->
    </ion-navbar>
</ion-header>


<ion-content class="side-menu-gradient">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-card *ngFor="let workout of workoutList"
              (click)="detailedWorkourView(workout.$key)">
        <ion-item>
            <h1>{{workout.name}}</h1>
            <hr>
            <h2>Number of sets complete: {{workout.sets}}</h2>
            <br>
            <h2>Using: <strong>{{workout.weight}}</strong>lbs of weight</h2>
        </ion-item>
        <ion-item>
            <span item-right>{{workout.dateComplete | date: 'dd/MM/yyyy'}} </span>
        </ion-item>
    </ion-card>
    <!--<ion-buttons class="workoutButton">-->
        <!--<button ion-button (click)="createWorkout()">-->
            <!--<ion-icon name="">Create Workout</ion-icon>-->
        <!--</button>-->
    <!--</ion-buttons>-->
    <!--<ion-buttons class="workoutButton">-->
        <!--<button color="danger" ion-button (click)="returnToLogin(); logoutUser();">-->
            <!--<ion-icon name="">Logout</ion-icon>-->
        <!--</button>-->
    <!--</ion-buttons>-->
        <ion-fab right bottom>
            <button ion-fab color="primary"><ion-icon name="settings"></ion-icon></button>
            <ion-fab-list side="left">
                <button ion-fab (click)="createWorkout()" color="secondary"><ion-icon name="create"></ion-icon></button>
                <button ion-fab (click)="returnToLogin(); logoutUser();" color="danger"><ion-icon name="exit"></ion-icon></button>

            </ion-fab-list>
        </ion-fab>
</ion-content>



<!--<ion-content>-->
<!--<ion-list>-->
<!--<ion-item *ngFor="let workout of workouts | async"-->
<!--(click)="workoutDetails(workout.$key)">-->
<!--<h2>{{workout.name}}</h2>-->
<!--</ion-item>-->
<!--<ion-buttons class="workoutButton">-->
<!--<button ion-button (click)="createWorkout()">-->
<!--<ion-icon name="">Create Workout</ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--<ion-buttons  class="workoutButton">-->
<!--<button color="dark" ion-button (click)="returnToLogin(); logoutUser();">-->
<!--<ion-icon name="">Logout</ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-list>-->
<!--</ion-content>-->